services:
  app:
    container_name: dkkm-builderbot-prod
    build:
      context: .
      args:
        - PORT=${PORT}
    ports:
      - "${PORT}:${PORT}"
    env_file:
      - .env
    restart: unless-stopped
