services:
  app:
    container_name: dkkm-builderbot-prod
    build:
      context: .
      args:
        - PORT=${PORT}
    ports:
      - "${PORT}:${PORT}"
    env_file:
      - .env
    restart: unless-stopped
    volumes:
      - ./baileys.log:/app/baileys.log
      - ./core.class.log:/app/core.class.log
      - ./queue.class.log:/app/queue.class.log
      - ./bot_sessions:/app/bot_sessions
    logging:
      driver: "json-file"
      options:
        max-size: "20m"
        max-file: "2"